* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  text-align: center
}

body h1 {
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 3rem;
  opacity: 0.75;
}

body h2 {
  color: white;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  margin-top: 10px;
  opacity: 0.75;
}

.bottom-container {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: inline-block;
  width: 300px;
}

.board-container {
  display: inline-block;
  height: 100%;
  margin: 30px auto 10px auto;
  padding: 20px;
  box-shadow: inset 0px 0px 20px 1px white, 0px 0px 20px 1px white;
  border-radius: 2%;
  background-color: rgba(0,0,0,0.9)
}

.score2 {
  opacity: 0;
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  color: white;
}


.row {
  width: 1242px;
}

.orb-container{
  width: 150px;
  height: 150px;
  border-radius: 20%;
  opacity: 0.75;
  transition: opacity 200ms ease;
  transform: translateZ(0);
  display: inline-block;
}

.orb-container:hover {
    opacity: 1;
}

.special {

}

.orb {
  width: 1px;
  margin: auto;
  height: 1px;
  border-radius: 50%;
  position: relative;
  top: 74px;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 50px 55px blue;
  }
  100% {
    box-shadow: 0px 0px 50px 52px blue;
  }
}

#red {
}


.red {
  box-shadow: 0px 0px 30px 65px red;
  transition: box-shadow 1000ms ease;
  background-color: rgba(0,0,0,0);
  transform: translateZ(0);
}

.yellow {
  box-shadow: 0px 0px 30px 65px yellow;
  transition: box-shadow 1000ms ease;
  background-color: rgba(0,0,0,0);
  transform: translateZ(0);
}

.green {
    box-shadow: 0px 0px 30px 65px green;
    transition: box-shadow 1000ms ease;
    background-color: rgba(0,0,0,0);
}

.selected {
  box-shadow: inset 0px 0px 20px 1px rgba(255,255,255,0.5), 0px 0px 20px 1px rgba(255,255,255,0.5);
  opacity: 1;
  transition: box-shadow 700ms ease;
}

.blue {
  box-shadow: 0px 0px 30px 65px blue;
  transition: box-shadow 1000ms ease;
  background-color: rgba(0,0,0,0);
}

.purple {
  box-shadow: 0px 0px 30px 65px purple;
  transition: box-shadow 1000ms ease;
  background-color: rgba(0,0,0,0);
}
